html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
::selection {
  background: rgb(1, 62, 87);
}

.Footer{
  display: flex;
  padding:10px;
  font-weight: bold;
  background-color: rgb(12 17 25 / 76%);
}

.Footer p{
  margin:auto;
  width:50%;
}

.Footer ul{
  width:50%;
  display: inline-block;
  align-items: flex-end;
  list-style-type: none;
  margin:auto;
}

.Footer ul li{
  float:right;
  transition: .3s;
}

.Footer ul li:hover{
  transform:scale(1.1, 1.1);
}

.contact-icons{
  margin: auto;
  padding: 5px;
  width:50px;
}
