@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

.top {
  text-align: center;
}

.mono {
  font-family: "Ubuntu Mono", monospace;
  font-size: 1.3rem;
}
.desc {
  margin-top: 1rem;
}

.btn {
  margin-top: 1rem;
}

.blogs {
  margin-top: 5rem;
  text-align: left;
}

.blog {
  padding: 1.5rem;
}
